@import './colors';
.book {
  display: flex;
  
  .actions-area {
    display: flex;
    align-items: center;
  }
  button {
    border: none;
    background-color: $white-two;
    color: $cool-blue;
    cursor: pointer;
  }
}
