@import './styles/button.scss';
@import './styles/nav.scss';

.spinner {
  display: none;

  &.loading {
    display: block;
    color: red;
  }

  &.idle {
    display: block;
    color: blue;
  }
}
